<div class="popup" id="popup-add-comment">
	<div class="navbar">
	    <div class="navbar-inner">
	        <div class="left">
	        	<a href="#" class="link close">
                    <span>Cancel</span>
                </a>
	        </div>
	        <div class="center">Add a comment</div>
	        <div class="right"><a href="#" class="link finish">Finish</a></div>
	    </div>
	</div>

	<div class="page-content">
		<div class="content-block">
			<div class="row">
				<div class="col-50">
					<div class="buttons-row">
						<a href="#" class="button">Shout</a>
						<a href="#" class="button">Review</a>
					</div>
				</div>
				<div class="col-50">
					<a href="#" class="button">Spoiler alert</a>
				</div>
			</div>
		</div>

		<div class="list-block">
			<ul>
				<li class="align-top">
					<div class="item-content">
						<div class="item-inner">
	  						<textarea name="comment" class="resizable" placeholder="What do you think?"></textarea>
	  					</div>
	  				</div>
	  			</li>
	  		</ul>
	  	</div>

		<div class="content-block">
			<div class="row">
				<div class="col-50">
					<em>English only</em>
				</div>
				<div class="col-50">
					0 words
				</div>
			</div>
		</div>
  	</div>
</div>