<div class="popup" id="popup-add-comment">
	<div class="navbar">
	    <div class="navbar-inner">
	        <div class="left">
	        	<a href="#" class="link close">
                    <span>Cancel</span>
                </a>
	        </div>
	        <div class="center">Add a comment</div>
	        <div class="right"><a href="#" class="link finish">Finish</a></div>
	    </div>
	</div>

  	<div class="content-block">
  		<p>This is an exemple on a single popup opened from a view</p>
  	</div>
</div>