<div class="navbar-inner">
	<div class="left"><a href="#" class="link back">Back</a></div>
	<div class="center sliding">Comments</div>
	<div class="right"><a href="#" class="link add-comment">Add</a></div>
</div>

<div class="page-content">
	<div class="comments-block"></div>
</div>