<div class="navbar-inner">
	<div class="left"><a href="#" class="back">Back</a></div>
	<div class="center sliding">Comments</div>
	<div class="right"><a href="movies/{{ids.slug}}/comments/add" class="add">Add</a></div>
</div>

<div class="page-content">
	<div class="comments-block"></div>
</div>