<div class="page-content">
    <div class="content-block">
        <a href="#" class="button button-big button-round btn-connect">Signin with your TrakTV account</a>
    </div>

    <div class="content-block">
        <p align="center"><a href="register" class="register navigate">Signup</a></p>
    </div>
</div>