<div class="navbar-inner">
	<div class="left"><a href="#" class="back">Back</a></div>
	<div class="center sliding">Search</div>
	<div class="right"></div>
</div>

<!-- Search bar -->
<form class="searchbar">
    <div class="searchbar-input">
        <input type="search" name="search" placeholder="Search">
        <a href="#" class="searchbar-clear"></a>
    </div>
    <a href="#" class="searchbar-cancel">Cancel</a>
</form>

<div class="page-content infinite-scroll">
	<!-- Filters -->
	<div class="filters">
		<div class="buttons-row">
	        <a href="#" class="button" data-filter="movies">Movies</a>
	        <a href="#" class="button" data-filter="shows">Shows</a>
	    </div>
	</div>

    <div class="list-block">
        <ul></ul>
    </div>

    <!-- Preloader -->
    <div class="infinite-scroll-preloader">
        <div class="preloader"></div>
    </div>
</div>