<div class="navbar-inner">
	<div class="left"><a href="#" class="back">Back</a></div>
	<div class="center sliding">Search</div>
	<div class="right"></div>
</div>

<!-- Search bar -->
<form class="searchbar">
    <div class="searchbar-input">
        <input type="search" placeholder="Search">
        <a href="#" class="searchbar-clear"></a>
    </div>
    <a href="#" class="searchbar-cancel">Cancel</a>
</form>

<div class="page-content">
    <div class="list-block">
        <ul></ul>
    </div>
</div>