<div class="swiper-slide">
	<div class="picture" style="background-image: url({{person.images.headshot.thumb}})"></div>
	<div class="meta">
		<h4>{{person.name}}</h4>
		<h5>{{character}}</h5>
	</div>
</div>