<div class="toolbar">
    <div class="toolbar-inner">
        <div class="left">
            <a href="#" class="link close-picker">Cancel</a>
        </div>
        <div class="right">
            <a href="#" class="link done">Done</a>
        </div>
    </div>
</div>