<p class="buttons-row">
	<a href="#" class="button btn-toggle {{#if seenit}}remove{{/if}}" data-action="history"><i class="picto check"></i></a>
	<a href="#" class="button btn-toggle {{#if inCollection}}remove{{/if}}" data-action="collection"><i class="picto add"></i></a>
	<a href="#" class="button btn-toggle {{#if inWatchlist}}remove{{/if}}" data-action="watchlist"><i class="picto add-list"></i></a>
	<a href="#" class="button show-comments"><i class="picto comment"></i></a>
	<a href="#" class="button btn-rate"><i class="picto star"></i></a>
	<a href="#" class="button btn-share"><i class="picto share"></i></a>
</p>