<div class="swipeout-content">
	<div class="item-content">
		<div class="item-background" style="background-image: url('{{images.thumb.full}}');"><div class="overlay"></div></div>
		<div class="item-inner">
			<div class="item-title">
				<h2>Episode {{number}}</h2>
			</div>
		</div>
	</div>
</div>
<div class="swipeout-actions-right">
	<a href="#" class="swipeout-close btn-toggle {{#if inWatchlist}}remove{{/if}}" data-action="watchlist"><i class="picto add-list"></i></a>
	<a href="#" class="swipeout-close btn-toggle {{#if inCollection}}remove{{/if}}" data-action="collection"><i class="picto add"></i></a>
	<a href="#" class="swipeout-close btn-toggle {{#if seenit}}remove{{/if}}" data-action="history"><i class="picto check"></i></a>
</div>