<div class="navbar-inner">
	<div class="left"><a href="#" class="back">Back</a></div>
	<div class="center sliding">{{title}}</div>
	<div class="right"></div>
</div>

<div class="page-content">
	<div class="picture-block" style="background-image: url({{images.fanart.thumb}});">
		<div class="item-inner">
			<div class="item-infos">
				<h2>{{title}}</h2>
			</div>
		</div>
	</div>

	{{> summary}}

	<div class="content-block-title">{{seasons.length}} seasons</div>
	<div class="list-block seasons">
        <ul></ul>
    </div>

	{{> relationships}}
</div>